{% extends 'base.html' %}

{% block content %}
<main>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for list in category_list %}
                <tr>
                    <td>{{ list.name }}</td>
                    <td>{{ list.receipt.all|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
